@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
.Layout {
  display: flex;
  width: 85%;
  padding-left: 50px;
  font-family: lato;
}
@media screen and (max-width: 1000px) {
  .Layout {
    flex-direction: column;
    padding-right: 50px;
  }
}
